Source: ros-kinetic-turtlebot-dashboard
Section: misc
Priority: extra
Maintainer: Marcus Liebhardt <marcus.liebhardt@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/turtlebot_dashboard
Standards-Version: 3.9.2

Package: ros-kinetic-turtlebot-dashboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-create-dashboard, ros-kinetic-kobuki-dashboard
Description: Launchers for the base-specific dashboards
